html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif
}


/* ICONOS HEADER*/

.tituloPrincipal{
    font-family: 'Inconsolata', monospace;
    font-size: 2vw;
    color: white;
    margin: 1vw 2vw;
}

.divLogos {
    justify-content: space-between;
    padding: 0 2vw;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
}


.logos {
    padding: 0 1vw;
    width: 5vw;
    margin-left: 2vw;
}

/* BOTONES DEL MENÚ */
.botonesNav {  
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    margin: 0 1vw;
    border-radius: 1vw;
    padding-left: 1.5;
}

.active {   
    border-bottom: solid rgb(255, 255, 255) 0.1vw;
}

/* PORTADA */
.imgCentral {
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    justify-content: center;
 
}

.textoPortada {
    height: 10vh;
    color: white;
    text-align: center;
    width: 100%;
    text-shadow: rgb(31, 101, 129) 3px 4px;  
}

.direccionador {
    justify-content: center;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}
.lets {
    animation-name: slidein;
    animation-duration: 1.5s;
    font-size: 6vw;
    padding: 3vw 0 0 0;
    font-family: 'Dancing Script', cursive;
}

.explore {
    animation-name: slidein;
    animation-duration: 1.5s;
    font-size: 6vw;
    font-family: 'Poppins', sans-serif;
    padding-top: 3vw;
}

.find {
    animation-name: slidein;
    animation-duration: 1.5s;
    padding-top: 5vw;
    text-align: center;
    width: 90vw;
    font-size: 2vw;
    font-family: 'Inconsolata', monospace;
}

@keyframes slidein {
    from {
      margin-top: 5%;
      width: 100%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.botonView, .ciudad {
    width: 15vw;
    height: 10vh;
    background-color: rgb(36, 184, 204);
    border: none;
    color: white;
    border-radius: 2vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    outline: none;
}

.botonView:hover{
   background-color: rgb(17, 35, 82);
}


/* CARRUSEL */

div.carrusel{
   padding-top: 5vh;
   margin-bottom: 5vh;
    
}

.rec-pagination {
    display: none !important;
}

.tXlBS {
    display: flex;
    flex-wrap:  wrap;  
}

.rec-arrow-right {
    margin-right: 5vw;
    color: black !important;
    background-color: white !important;
    
    
}
.rec-arrow-left {
    margin-left: 5vw;
    color: black !important;
    background-color: white !important;
}

.imagenCarrusel {
    display: flex;
    align-items: center;   
    width: 35vw;
    height: 40vh;
    margin: 1vh 1vw;
    border-radius: 3vw;   
}

.imagenCarrusel:hover{
    transform: scale(1.05);   
    
}
/* TÍTULO DEL CARRUSEL Y TEXTO SOBRE LAS IMÁGENES DE LAS CIUDADES */
.ciudadesCarrusel,
.ciudadesItinerario, 
h4.city { 
    color: white;
    font-size: 4vw;
    font-family: 'Fjalla One', sans-serif;
    width: 100%;
    text-align: center;
    background-color: rgba(3, 28, 83, 0.527);
}


.tituloCarrusel, div.cities {
    text-align: center;
    font-size: 4vw;
    font-family: 'Fjalla One', sans-serif; 
    padding: 2vw 0 2vw 0;
}
h2.subtituloCarrusel {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
}

/* NAV LINK GLOBAL */
.navLink{
    text-decoration: none;    
}
/* IMÁGENES DEL ITINERARIO */
.botonItinerario{
    margin: 7vh 7vw;
    width: 35vw;
    height: 35vh;
    background-size: cover;
    background-position: 0 50%;
    border: none;
    border-collapse: collapse;
    filter: drop-shadow(4vw 3vw 2vw rgb(0, 0, 0));
    outline: none;
}

.botonItinerario:hover{
    transform: scale(1.3);
    transition-duration: 0.5s;

}

/* FILTRO */

input, .apiCiudades {
    text-align: center;
    border: none;
    background-color: rgba(16, 211, 218, 0.349);
    width: 50vw;
    height: 7vh;
    font-size: 1.5vw;
    border-radius: 2vw;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* ITINERARIO INDIVIDUAL */

div.imagenIndividual{
    display: flex;
    margin-top: 2vw;
    align-items: center;
    height: 55vh;
    background-size: cover;
    background-position: 0 50%;
}

div.city{
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    height: 50vh;
    background-position: 0 60%;
}

div.itinerarioBotones {
    display: flex;
    margin: 3vh 0 2vh 2vw;
    justify-content: center;
    font-size: 3vw;    
    
}

.ciudad {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Fjalla One', sans-serif; 
}

.fas {
    margin-right: 1vw;
}


/* PRELOADER */


div.preloader {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #ccc;
  top: 45%;
  border-radius: 50%;
}

div.preloader:nth-child(1) {
  background-color: #FF5460;
  animation: move 2s infinite cubic-bezier(.2,.64,.81,.23);
}
div.preloader:nth-child(2) {
  background-color: #FF9D84;
  animation: move 2s 150ms infinite cubic-bezier(.2,.64,.81,.23);
}
div.preloader:nth-child(3) {
  background-color: #F0E797;
  animation: move 2s 300ms infinite cubic-bezier(.2,.64,.81,.23);
}
div.preloader:nth-child(4) {
  background-color: #75B08A;
  animation: move 2s 450ms infinite cubic-bezier(.2,.64,.81,.23);
}


@keyframes move {
  0% {left: 0%;}
  100% {left:100%;}
}

/* CARTEL CIUDAD NO ENCONTRADA */
div.ciudadNoEncontrada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    height: 30vh;
    width: 100%;
    background-color: rgba(16, 211, 218, 0.349);
}

div.ciudadNoEncontrada h6{
    font-size: 3vw;
    font-family: 'Fjalla One', sans-serif; 
}

/* ITINERARIOS */
div.itinerario {
    color: rgb(0, 0, 0);
    margin: 2vh 2vw;
    padding: 2vh 0;
    border:rgb(28, 163, 180) solid;
    border-radius: 1vw;
   
}

p.tituloItinerario {
    font-size: 2vw;
    text-align: center;
}

div.datosUsuario{
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
    margin-left: 2vw;
}
div.datosUsuario p {
    margin-top: 2vh;
}


div.datosAdicionales {
    display: flex;
    justify-content: space-between;  
    font-size: 1.5vw;
    width: 60vw;
    margin: 0 3vw;
}

div.datosAdicionales * {
    padding: 2vh 0;
}

div.userItinerary {
    width: 20vw;
    height: 25vh;
    background-size: cover;
    background-position: 0 40%;
    border-radius: 5vw;
}

.btnItinerary {
    width: 10vw;
    height: 5vh;
    background-color: rgb(39, 105, 228);
    outline: none;
}

div.hoursPrice {
    display: flex;
    margin: 3vh 0;
    justify-content: space-between;
    height: 5vh;
    width: 40vw;
    align-items: center;

}

div.hoursPrice p {
    width: 10vw;
    font-size: 1.5vw;
    font-family: 'Fjalla One', sans-serif; 
}

div.hoursPrice div {
    padding-left: 4vw;
    width: 20vw;
}

/* FOOTER */

footer {
    height: 10vh;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}



div.activities {
    display: flex;
    width: 80vw;
    text-align: center;
    overflow-x: scroll;
    margin: 5vh 0 0 6vw;
}  

div.prueba img {
    width: 25vw;
    height: 25vh;  
    margin: 0 2vw; 
    border-style: solid;
}

div.prueba p {
    padding: 0 1vw;
    margin: 2vh 0;
    font-size: 1.5vw;
}

div.signUp {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    height: 100vh;
    background-position: 0 50%;
}
div.signUp input, div.logIn input, .apiCiudades  {
    background-color: rgba(46, 103, 141, 0.473);
    margin-bottom: 2vw;
}

.apiCiudades {
    display: flex;
    align-items: center;
    justify-content: center;
}
.apiCiudades select {
    border: none;
    margin-left: 2vw;
    color: black;
    height: 5vh;
    background-color: rgba(46, 103, 141, 0.753);
}

.apiCiudades option {
    border: none;
}



::-webkit-input-placeholder {
    color:rgb(0, 0, 0)
}

div.logIn {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-size: cover;
    height: 84.5vh;
    background-position: 0 60%;
}

div.signUp h6, div.logIn h6 {
    font-size: 3vw;
    margin: 3vh 0;
}
div.errores {
    margin: 1vw auto;
}

.google {
    margin: 3vh 0;
}

div.fotoComentario {
    width: 5vw;
    height: 9vh;
    background-size: cover;
    background-position: 0 50%;
    border-radius: 5vw;
    margin-right: 2vw;
}

div.inputComentario {
    display: flex;
    justify-content: center;
   
}

button.comentario {
    border: none;
    font-size: 2vw;
    outline: none;
    background-color: white;
    margin-left: 1vw;
}

div.comentario {
    width: 50vw;
    border: solid 3px white;
    border-top-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    background-color: #1db1d6;
    padding: 2vh 0;
}

button.likes {
    width: 5vw;
    display: flex;
    background-color: white;
    font-size: 1.5vw;
    border: none;
    outline: none;
}
button.likes p{
    margin-left: 2vw;
    display: inline;
}