html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENU HEADER*/

.textoHeader {
    font-family: 'Ultra', serif;
    font-size: 4vw;
    color: rgb(26,115,252) ;
    margin: 1vw 2vw;
}

.divLogos {
    justify-content: space-between;
    padding: 1vw 2vw;
    background-color: rgb(8, 8, 8);
    display: flex;
}


.logos {
    padding: 0 1vw;
    width: 5vw;
    margin-left: 2vw;
}



/* BOTONES DEL MENÚ */
.botones {
    text-decoration: none;
    font-size: 2vw;
    color: rgba(236, 162, 13, 0.849);
    margin: 1vw 1vw;
    border-radius: 1vw;
}

.botones:hover {
    color:rgb(3, 20, 116)
}

/* PORTADA */
.imgCentral {
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
 
}

.textoPortada {
    height: 10vh;
    color: white;
    text-align: center;
    width: 100%;
   
}

.direccionador {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.lets {
    animation-name: slidein;
    animation-duration: 2s;
    font-size: 5vw;
    padding: 3vw 0 0 0;
    font-family: 'Satisfy', cursive;
}

.explore {
    animation-name: slidein;
    animation-duration: 2s;
    font-size: 6vw;
    font-family: 'Poppins', sans-serif;
    padding-top: 3vw;
}

.find {
    animation-name: slidein;
    animation-duration: 2s;
    padding-top: 5vw;
    text-align: center;
    width: 70vw;
    font-size: 2vw;
    
}

@keyframes slidein {
    from {
      margin-top: 100%;
      width: 100%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.botonView {
    animation-name: slidein;
    animation-duration: 1s;
    width: 15vw;
    height: 10vh;
    background-color: rgb(26,115,252);
    border: none;
    color: white;
    border-radius: 2vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
}

.botonView:hover{
    text-decoration:underline;
}


/* CARRUSEL */

.rec-pagination {
    display: none !important;
}

.tXlBS {
    display: flex;
    flex-wrap:  wrap;  
}


.rec-arrow-right {
    margin-right: 5vw;
    
}
.rec-arrow-left {
    margin-left: 5vw;
}


.imagen {
    display: flex;
    align-items: center;   
}
/* TÍTULO DEL CARRUSEL Y TEXTO SOBRE LAS IMÁGENES */
.ciudades { 
    color: white;
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    background-color: rgba(3, 28, 83, 0.527);
}
.textoCarrusel {
    text-align: center;
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    margin: 2vw 0;
    color: rgb(30,118,252);
    padding: 2vw 0;
}


.navLink{
    text-decoration: none;    
}





